<div>
    <div>
        <h1>¡Bienvenido Amin!</h1>
        <p>Aquí puedes administrar los productos.</p>
    </div>
    <div id="productos"></div>
</div>

<script src="/js/adminPanelProducts.js"></script>