<div>
    <h2>Login</h2>

    <form action="" method="" id="loginForm">
        <label for="">User</label>
        <input type="email" name="user">

        <label for="">Password</label>
        <input type="password" name="password">

            <button type="submit" class="btn btn-dark">Sign in</button>
    </form>

    <div>
        <p>¿Olvidaste tu contraseña? <button class="btn btn-dark"><a class="text-decoration-none text-light" href="/passwordForget"> Recuperar </a></button></p>
    </div>
    <div>
        <p>Entrar con github <button class="btn btn-dark"><a class="text-decoration-none text-light" href="/api/auth/githubcallback"> Regístrate </a></button></p>
    </div>
    <div>
        <p>¿No tienes cuenta? <button class="btn btn-dark"><a class="text-decoration-none text-light" href="/signup"> Regístrate </a></button></p>
    </div>
</div>

<a href="/products" id="productsLink"></a>
<script src="js/login.js"></script>