<div id="cartel">
    <div>
        <h1>¡Bienvenido!</h1>
        <p>Aquí puedes ver tu carrito.</p>
    </div>
    <div>
        <div id="profile"></div>
    </div>

    <div id="mensaje"></div>
    <div id="mensaje2"></div>
    <div id="cart"></div>
    <div id="cartel2"></div>
</div>

<a href="/api/auth/logout" id="logoutLink"></a>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/myCart.js"></script>