<div>
    <h2>Restauracion de contraseña</h2>

    <form action="" method="" id="loginForm">
        <label for="">Nueva contraseña</label>
        <input type="password" name="newPaswword1">

        <label for="">Confirmar contraseña</label>
        <input type="password" name="newPaswword2">

            <button type="submit" class="btn btn-dark">Enviar</button>
    </form>
    <div>
        <p>Entrar con github <button class="btn btn-dark"><a class="text-decoration-none text-light" href="/api/auth/githubcallback"> Regístrate </a></button></p>
    </div>
    <div>
        <p>¿No tienes cuenta? <button class="btn btn-dark"><a class="text-decoration-none text-light" href="/signup"> Regístrate </a></button></p>
    </div>

    <div id="respuesta">
        
    </div>
</div>

<a href="/login" id="productsLink"></a>
<script src="/js/passwordReset.js"></script>