<div class="container">
<div id="profile"></div>
<button class="btn btn-dark"><a class="text-decoration-none text-light" href="/api/auth/logout">Logout</a></button> 
</div>

<script src="/js/profile.js"></script>