<div>
    <h2>Sign up</h2>

    <form id="form" action="" method="">
        <label for="">
            First Name
            <input type="text" name="first_name">
        </label>
        <p></p>
        <label for="">
            Last Name
            <input type="text" name="last_name">
        </label>
        <p></p>
        <label for="">
            Email
            <input type="email" name="email">
        </label>
        <p></p>
        <label for="">
            Age
            <input type="age" name="age">
        </label>
        <p></p>
        <label for="">
            Password
            <input type="password" name="password">
        </label>
        <p></p>
        <input type="submit" value="Sign up">

        <p>¿Ya tienes cuenta?<a href="/login">Ingresa</a></p>
    </form>
</div>

<a href="/login" id="loginLink"></a>
<script src="js/signup.js"></script>