/* html {
    background-color: blueviolet;
    color: beige;
} */

/* body {
    background: radial-gradient(circle at top, #6b9cfd , #80bab1);
    background-size: cover;
    width: 100%;
    height: 100%;
    color: rgb(48, 47, 47);
} */